<div class="panel_blur"></div>
<div class="panel">
  <div class="panel__form-wrapper">
    <button type="button" class="panel__prev-btn" aria-label="Go back to home page" title="Go back to home page">
      <svg fill="rgba(255,255,255,0.5)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
      </svg>
    </button>

    <ul class="panel__headers">
      <li class="panel__header"><a href="#register-form" class="panel__link" role="button">Sign Up</a></li>
      <li class="panel__header active"><a href="#login-form" class="panel__link" role="button">Sign In</a></li>
    </ul>

    <div class="panel__forms">
      <!-- Login Form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form panel__login-form', id: 'login-form') do |f| %>
        <div class="form__row">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form__input" %>
          <span class="form__bar"></span>
          <label for="email" class="form__label">E-mail</label>
          <span class="form__error"></span>
        </div>

        <div class="form__row">
          <%= f.password_field :password, autocomplete: "current-password", id:"password", class:"form__input"%>
          <span class="form__bar"></span>
          <label for="password" class="form__label">Password</label>
          <span class="form__error"></span>
        </div>

        <div class="form__row">
          <%= f.submit "Get Started", class: 'form__submit' %>
          <a href="#password-form" class="form__retrieve-pass" role="button">Forgot Password?</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
